<div class="container col-sm-6" ng-controller="loginController">
    <form novalidate name="myform" >
        <div class="form-group">
            <label  for="userName">Userame</label></br>
            <input type="text" class="form-control" ng-model="user.userName" placeholder="Enter Username" />
        </div>
        <div class="form-group">
            <label  for="jobTitleName">Job Title</label></br>
            <input type="text" class="form-control" ng-model="user.jobTitleName" placeholder="Enter Job Title" />
        </div>
         <div class="form-group">
            <label  for="firstName">First Name</label></br>
            <input type="text" class="form-control" ng-model="user.firstName" placeholder="Enter first name" />
        </div>
         <div class="form-group">
            <label  for="lastName">Last Name</label></br>
            <input type="text" class="form-control" ng-model="user.lastName" placeholder="Enter last name" />
        </div>
         <div class="form-group">
            <label  for="preferredFullName">Preffered Full Name</label></br>
            <input type="text" class="form-control" ng-model="user.preferredFullName" placeholder="Enter preffered fullname" />
        </div>
         <div class="form-group">
            <label  for="employeeCode">Employee Code</label></br>
            <input type="text" class="form-control" ng-model="user.employeeCode" placeholder="Enter employee code" />
        </div>
         <div class="form-group">
            <label  for="region">Region</label></br>
            <input type="text" class="form-control" ng-model="user.region" placeholder="Enter region" />
        </div>
         <div class="form-group">
            <label  for="phoneNumber">Phone Number</label></br>
            <input type="text" class="form-control" ng-model="user.phoneNumber" placeholder="Enter phone number" />
        </div>
        <div class="form-group">
            <label  for="email">Email</label></br>
            <input type="text" class="form-control" ng-model="user.email" placeholder="Enter email address" />
        </div>
        <div id = "buttons" class="form-group">
            <input class="btn btn-warning btn-lg" type="button" ng-click="reset()" value="Reset" />
            <input class="btn btn-success btn-lg" type="submit" ng-click="update()" value="Save" />
        </div>

    </form>
</div>