body{
    margin:0;
    padding:0;
    width: 20;
    height: 20px;
    background:gray;
}
nav{
    width:200%;
    padding:5;
    background:#1a73e8;
    overflow:auto;
    height: 50;
}
ul{
    padding:20;
    margin:0 0 0 200px;
    list-style:none;
}
li{
    float:left;
}
.logo img{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
nav a{
    width: 170px;
    display: block;
    padding: 50px 20px;
    text-decoration: inherit;
    font-family: Arial;
    color: #f2f2f2;
    text-align: center;
}
nav a:hover{
        background: purple;
        transition: 0.5s;
        }           
     